body {
    display: flex;
    margin: 0;
    flex-direction: column;
}

.navbar {
    display: flex;
    flex-direction: row;
    background-color: #272729;
    align-items: center;
    justify-content: space-evenly;
    padding: 0% 13%;
    height: 6%;
}

.navbar-link {
    color: #cecece;
    padding: 0px 8px;
    cursor: pointer;
    font-size: 11px;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.navbar-link:hover {
    color: #ffffff;
}

.navbar-button {
    padding: 0px 10px;
    cursor: pointer;
    color: #cecece;
    width: 0.9vw;
}
.navbar-button:hover¨{
    color: #ffffff;
}

.navbar-search-button{
    padding: 0px 3px;
    cursor: pointer;
    color: #cecece;
    width: 1.4em;
}


.banner-unicef {
    display: flex;
    flex-direction: row;
    background-color: #f5f5ff;
    align-items: center;
    justify-content: center;
    padding: 20px 0;;
}
.linkUnicef {
    color: #06c;
    font-size: 16px;
    text-decoration: none;
}
.link {
    color: #06c;
    font-size: 16px;
    text-decoration: none;
}

.unicef {
    text-decoration: none;
    margin-right: 1em;
}

.Products-Highlight {
    display: flex;
    flex-direction: column;
}

.macbook-air {
    background-image: url("../Images/MacBook.png");
    background-repeat: no-repeat;
    background-position: 50%;
    height: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 30%;
    text-align: center;
}

.macbook {
        font-size: xx-large;
        line-height: 0.2%;
        margin: 0em;
        padding: 0%;
    }

.macbook-links {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    font-size: large;
    padding-top: 0.5em;
}

.Logoimg {
    width: 15em;
    margin: 0em;
}

.iPhone {
    background-image: url("../Images/iPhone.jpeg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 180%;
    height: 38vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1%;
}

.iPhone-text {
    padding-bottom: 23%;
    text-align: center;
}

.iPhoneH {
    font-size: xx-large;
    line-height: 0.1em;
    margin: 0.1em;
    padding: 0%;
}

.iPhoneH2 {
    font-size: x-large;
    line-height: 0.5%;
    margin-top: 0.1em;
}

.iPhone-links {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    font-size: large;
}

.Superpotencia {
    background-image: url("../Images/Superpotencia.jpg");
    background-repeat: no-repeat;
    background-position: 50%;
    height: 38vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.SuperText {
    padding-bottom: 25%;
    text-align: center;
}

.SuperText-1 {
    font-size: xx-large;
    line-height: 0.8em;
    margin: 0.2em;
    padding: 0%;
}

.SuperText-2 {
    font-size: larger;
    line-height: 0.5%;
    margin-top: 0.2em;
}

.Super-link {
    font-size: large;
}

#Sup {
    color: rgb(202, 73, 97);
}

.Mac-Phone {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 0.8em;
}

.iPhone13 {
    background-image: url("../Images/iPhone13.jpg");
    background-repeat: no-repeat;
    background-position: 50%;
    height: 39vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.iPhone13-Text {
    padding-bottom: 50%;
    text-align: center;
    line-height: 0.2em;
}

.iPhone13-Text-1 {
    font-size: xx-large;
    line-height: 0.1em;
}

.iPhone13-Text-2 {
    font-size: larger;
    line-height: 0.1em;
    padding-bottom: 3%;
}

.iPhone13-links {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
font-size: large;
gap: 20px;
}

.MacbookPro {
    background-image: url("../Images/McBook.jpg");
    background-repeat: no-repeat;
    background-position: 50%;
    height: 39vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-right: 0.5em;
    }

.MacbookPro-Text {
    font-size: xx-large;
    color: white;
    text-align: center;
    padding-bottom: 11.3em;
    text-align: 0.1em;
}

.MacbookPro-Text-1 {
    font-size: xx-large;
    line-height: 0.1em;
    }
.MacbookPro-Img {
    align-content: center;
    position: relative;
    bottom: 15%;
}

.MacbookPro-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: large;
    gap: 20px;
    line-height: 0.1em;
}

.Watch-Pad {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 0.8em;
}

.Watch {
    background-image: url("../Images/Watch.jpeg");
    background-repeat: no-repeat;
    background-position: 50%;
    height: 38vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.Watch-text {
    padding-bottom: 45%;
    text-align: center;
    line-height: 0.2em;
}

.Watch-Text-1 {
    font-size: larger;
    line-height: 0.1em;
    padding-bottom: 3%;
}

.Watch-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: large;
    gap: 20px;
    line-height: 0.1em;
}

.iPad {
    background-image: url("../Images/iPad.jpeg");
    background-repeat: no-repeat;
    background-position: 50%;
    height: 38vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-right: 0.5em;
}

.iPad-Text {
    padding-bottom: 45%;
    text-align: center;
    line-height: 0.2em;
}

.iPad-Text-1 {
    font-size: larger;
    line-height: 0.1em;
    padding-bottom: 3%;
    color: white;
}

.iPad-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: large;
    gap: 20px;
    line-height: 0.1em;
}

.Fit-TV {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 0.8em;
}

.Fitness {
    background-image: url("../Images/Fitness.jpeg");
    background-repeat: no-repeat;
    background-position: 50%;
    height: 39vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.Fitness-Text {
    padding-bottom: 49%;
    text-align: center;
    line-height: 0.1em;
}

.Fitness-Text-1 {
    font-size: larger;
    line-height: 0.1em;
    padding-bottom: 3%;
}

.Fitness-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: large;
    gap: 20px;
    line-height: 0em;
    }

.TV {
    background-image: url("../Images/AppleTV.jpeg");
    background-repeat: no-repeat;
    background-position: 50%;
    height: 39vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-right: 0.5em;
}

.TV-Img {
    margin-bottom: 33%;
}

.TV-Text {
    text-align: center;
    align-content: center;
    box-sizing: content-box;
    width: 35%;
    margin-bottom: 2em;
}

.TV-Img2 {
    align-content: center;
    width: 100%;
    height: 60%;
    position: relative;
    top: 0.8em;
}

.TV-Text-1 {
    font-size: larger;
    color: white;
}

.TV-link {
    color: white;
    font-size: 16px;
    text-decoration: none;
    line-height: 1em;
}

.TV-link:hover {
    text-decoration: underline;
}

footer {
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #7e7b7b;
    background-color: #f5f5ff;
    margin-top: 0.3em;
    padding: 0% 20%;
}
.footerlist {
    padding: 0% 2%;
}

.column { 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.column2 {
    display: flex;
    flex-direction: column;
}
   
.column a {
    padding: 4px 0px;
    text-decoration: none;
    color: #706c6c;
    }

.SerCu {
    display: flex;
    flex-direction: column;
}

.EmEdSa {
    display: flex;
    flex-direction: column;
}

.VaAc {
    display: flex;
    flex-direction: column;
}

.column .final {
    display: flex;
    flex-direction: column;
}

.final { 
    line-height: 0.5%;
    padding-top: 5%;
    padding-bottom: 4%;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 0.8em;
}

.bottomP {
    padding-right: 3%;
    color: #424245;
    text-decoration: none;
}

.bottomP:hover {
    text-decoration: underline;
}

.copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.3em;
}

.Spain {
    color: #706c6c;
    text-decoration: none;
    padding-top: 1em;
}

.Spain:hover {
    text-decoration: underline;
}

.link2 {
    color: #06c;
    text-decoration: none;
}

@media(max-width:900px) {
    body {
        width: auto;
        height: auto;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        padding: 0 1vw;
        height: 44px;
        justify-content: flex-end;
        gap: 35vw;
    }

    .navbar-link {
        display: none;
    }

    .navbar-search-button {
        display: none;
    }
    .navbar-button {
        width: 2.5vw;
    }

    .banner-unicef {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .unicef {
        width: 6.5em;
    }
    .linkUnicef {
        text-align: center;
    }

    .macbook-air {
        background-position: 50%;
        background-size: 180%;
        height: 38vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 0%;
        }   

    .Mac-Phone {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0em;
        margin: 0%;
    }


    .iPhone13 {
        height: 90vw;
        width: 100%;
        padding-bottom: 8%;
        margin: 0%;
    }

    .MacbookPro {
        height: 87vw;
        width: 100%;
        margin: 0%;
    }

    .Watch-Pad {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0em;
        margin: 0%;
    }

    .Watch {
        height: 90vw;
        width: 100%;
        padding-bottom: 8%;
        margin: 0%;
    }

   .iPad {
        height: 87vw;
        width: 100%;
        padding-bottom: 8%;
        margin: 0%;
    }
    
    .Fit-TV {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0em;
        margin: 0%;
    }

    .Fitness {
       height: 90vw;
       width: 100%;
       padding-bottom: 8%;
       margin: 0%;
    }

    .TV {
        height: 87vw;
        width: 100%;
        padding-bottom: 8%;
        margin: 0%;
    }

    .footer {
        padding: 0% 3%;
        text-align: left;
    }
    hr {
        display: none;
    }

    .copyright{
        display: flex;
        flex-direction: column-reverse;
    }

    .Spain{
        padding-bottom: 1.3em;
    }

    .bottomP {
        padding: 1.8%;
        border-right-style: solid;
        border-right-width: 0.1em;
        height: 0.1em;
    }
    #last {
        border-right: none;
    }

    .bottom {
        display: flex;
        flex-direction: row;
        justify-content:left;
        flex-wrap: wrap;
        margin-top: 0.5em;
    }
}